# Explore here

In [1]:
import requests
import pandas as pd

# URL 
url_fed = "https://api.stlouisfed.org/fred/series/observations?series_id&api_key&file_type"


# Parámetros de la solicitud
parametros_fed = {
    "series_id":"CPIAUCSL",
    "api_key":"16dbd1bdceb90ffd932425b7e5c279fd",  
    "file_type":"json" 
}

def api_fed(url, parametros, realtime_start, realtime_end):

# Añadir fechas de busqueda 
    parametros["realtime_start"] = realtime_start
    parametros["realtime_end"] = realtime_end


# Realizar la solicitud GET
    response = requests.get(url, params=parametros)

    print(url)

# Verificar si la solicitud fue exitosa
    if response.status_code == 200:
    # Convertir la respuesta a formato JSON
        data = response.json()
    # Retorna la data 
        return data
    else:
        print(f"Error en la solicitud: {response.status_code}")


data = api_fed(url_fed,parametros_fed, "2021-01-01", "2023-12-31")

data_fed_cpi = pd.DataFrame(data)

data_fed_cpi.head(2)

https://api.stlouisfed.org/fred/series/observations?series_id&api_key&file_type

,realtime_start,realtime_end,observation_start,observation_end,units,output_type,file_type,order_by,sort_order,count,offset,limit,observations
0,2021-01-01,2023-12-31,1600-01-01,9999-12-31,lin,1,json,observation_date,asc,1103,0,100000,"{'realtime_start': '2021-01-01', 'realtime_end..."
1,2021-01-01,2023-12-31,1600-01-01,9999-12-31,lin,1,json,observation_date,asc,1103,0,100000,"{'realtime_start': '2021-01-01', 'realtime_end..."

In [2]:
data_fed_cpi.columns

Index(['realtime_start', 'realtime_end', 'observation_start',
       'observation_end', 'units', 'output_type', 'file_type', 'order_by',
       'sort_order', 'count', 'offset', 'limit', 'observations'],
      dtype='object')

In [3]:
def obtener_observation_fed(data_fed_cpi):
    # Convertir la columna "observations" que contiene JSON en un DataFrame
    observations_data = pd.json_normalize(data_fed_cpi["observations"])
    
    # Concatenar el DataFrame original con el nuevo DataFrame de las observaciones
    data_fed_cpi = pd.concat([data_fed_cpi.drop(columns=["observations"]), observations_data], axis=1)

    return data_fed_cpi

# Ejecutar la función para obtener los datos procesados
data_fed_cpi = obtener_observation_fed(data_fed_cpi)

def guardar_csv(data , url_archivo):
    data.to_csv(url_archivo, index= True)

In [ ]:
#data_fed_cpi.head(10)
data_fed_cpi.tail(12)

,realtime_start,realtime_end,observation_start,observation_end,units,output_type,file_type,order_by,sort_order,count,offset,limit,realtime_start,realtime_end,date,value
1091,2021-01-01,2023-12-31,1600-01-01,9999-12-31,lin,1,json,observation_date,asc,1103,0,100000,2023-02-10,2023-12-31,2022-12-01,298.990
1092,2021-01-01,2023-12-31,1600-01-01,9999-12-31,lin,1,json,observation_date,asc,1103,0,100000,2023-02-14,2023-12-31,2023-01-01,300.536
1093,2021-01-01,2023-12-31,1600-01-01,9999-12-31,lin,1,json,observation_date,asc,1103,0,100000,2023-03-14,2023-12-31,2023-02-01,301.648
1094,2021-01-01,2023-12-31,1600-01-01,9999-12-31,lin,1,json,observation_date,asc,1103,0,100000,2023-04-12,2023-12-31,2023-03-01,301.808
1095,2021-01-01,2023-12-31,1600-01-01,9999-12-31,lin,1,json,observation_date,asc,1103,0,100000,2023-05-10,2023-12-31,2023-04-01,302.918
1096,2021-01-01,2023-12-31,1600-01-01,9999-12-31,lin,1,json,observation_date,asc,1103,0,100000,2023-06-13,2023-12-31,2023-05-01,303.294
1097,2021-01-01,2023-12-31,1600-01-01,9999-12-31,lin,1,json,observation_date,asc,1103,0,100000,2023-07-12,2023-12-31,2023-06-01,303.841
1098,2021-01-01,2023-12-31,1600-01-01,9999-12-31,lin,1,json,observation_date,asc,1103,0,100000,2023-08-10,2023-12-31,2023-07-01,304.348
1099,2021-01-01,2023-12-31,1600-01-01,9999-12-31,lin,1,json,observation_date,asc,1103,0,100000,2023-09-13,2023-12-31,2023-08-01,306.269
1100,2021-01-01,2023-12-31,1600-01-01,9999-12-31,lin,1,json,observation_date,asc,1103,0,100000,2023-10-12,2023-12-31,2023-09-01,307.481
1101,2021-01-01,2023-12-31,1600-01-01,9999-12-31,lin,1,json,observation_date,asc,1103,0,100000,2023-11-14,2023-12-31,2023-10-01,307.619
1102,2021-01-01,2023-12-31,1600-01-01,9999-12-31,lin,1,json,observation_date,asc,1103,0,100000,2023-12-12,2023-12-31,2023-11-01,307.917

In [5]:
guardar_csv(data_fed_cpi , "../data/fed_historical_data.csv")

Producto interno bruto='GNP"
Api_key='b55d1a0787bb20a7fcc6aef921343008'

In [6]:
# URL 
url_fed = "https://api.stlouisfed.org/fred/series/observations?series_id&api_key&file_type"


# Parámetros de la solicitud
parametros_fed = {
    "series_id": "GNP",
    "api_key": "b55d1a0787bb20a7fcc6aef921343008",  
    "file_type": "json" 
}

data = api_fed(url_fed,parametros_fed, "2021-01-01", "2023-12-31")

data_GNP = pd.DataFrame(data)

data_GNP.head(2)

https://api.stlouisfed.org/fred/series/observations?series_id&api_key&file_type

,realtime_start,realtime_end,observation_start,observation_end,units,output_type,file_type,order_by,sort_order,count,offset,limit,observations
0,2021-01-01,2023-12-31,1600-01-01,9999-12-31,lin,1,json,observation_date,asc,512,0,100000,"{'realtime_start': '2021-01-01', 'realtime_end..."
1,2021-01-01,2023-12-31,1600-01-01,9999-12-31,lin,1,json,observation_date,asc,512,0,100000,"{'realtime_start': '2021-01-01', 'realtime_end..."

In [7]:
# Ejecutar la función para obtener los datos procesados
data_GNP = obtener_observation_fed(data_GNP)

In [ ]:
#data_GNPCA.head(2)
data_GNP.tail(5)

,realtime_start,realtime_end,observation_start,observation_end,units,output_type,file_type,order_by,sort_order,count,offset,limit,realtime_start,realtime_end,date,value
507,2021-01-01,2023-12-31,1600-01-01,9999-12-31,lin,1,json,observation_date,asc,512,0,100000,2023-09-28,2023-12-31,2023-01-01,26972.528
508,2021-01-01,2023-12-31,1600-01-01,9999-12-31,lin,1,json,observation_date,asc,512,0,100000,2023-08-30,2023-09-27,2023-04-01,26937.582
509,2021-01-01,2023-12-31,1600-01-01,9999-12-31,lin,1,json,observation_date,asc,512,0,100000,2023-09-28,2023-12-31,2023-04-01,27236.1
510,2021-01-01,2023-12-31,1600-01-01,9999-12-31,lin,1,json,observation_date,asc,512,0,100000,2023-11-29,2023-12-20,2023-07-01,27812.417
511,2021-01-01,2023-12-31,1600-01-01,9999-12-31,lin,1,json,observation_date,asc,512,0,100000,2023-12-21,2023-12-31,2023-07-01,27774.189

In [9]:
guardar_csv(data_GNP,"../data/processed/fed_GNP_historical_data.csv")

Tasa de desempleo='UNRATE'
Api_key='8660234b709531d44271bbd9520353dd'

In [ ]:
# URL 
url_fed = "https://api.stlouisfed.org/fred/series/observations?api_key&file_type&series_id"


# Parámetros de la solicitud
parametros_fed = {
    "api_key": "8660234b709531d44271bbd9520353dd",  
    "file_type": "json",
    "series_id": "UNRATE"
}

data = api_fed(url_fed,parametros_fed, "2021-01-01", "2023-12-31")

data_UNRATE = pd.DataFrame(data)

data_UNRATE.head(2)

https://api.stlouisfed.org/fred/series/observations?api_key&file_type&series_id

,realtime_start,realtime_end,observation_start,observation_end,units,output_type,file_type,order_by,sort_order,count,offset,limit,observations
0,2021-01-01,2023-12-31,1600-01-01,9999-12-31,lin,1,json,observation_date,asc,945,0,100000,"{'realtime_start': '2021-01-01', 'realtime_end..."
1,2021-01-01,2023-12-31,1600-01-01,9999-12-31,lin,1,json,observation_date,asc,945,0,100000,"{'realtime_start': '2021-01-01', 'realtime_end..."

In [11]:
# Ejecutar la función para obtener los datos procesados
data_UNRATE = obtener_observation_fed(data_UNRATE)

In [ ]:
data_UNRATE.tail(5)

,realtime_start,realtime_end,observation_start,observation_end,units,output_type,file_type,order_by,sort_order,count,offset,limit,realtime_start,realtime_end,date,value
940,2021-01-01,2023-12-31,1600-01-01,9999-12-31,lin,1,json,observation_date,asc,945,0,100000,2023-08-04,2023-12-31,2023-07-01,3.5
941,2021-01-01,2023-12-31,1600-01-01,9999-12-31,lin,1,json,observation_date,asc,945,0,100000,2023-09-01,2023-12-31,2023-08-01,3.8
942,2021-01-01,2023-12-31,1600-01-01,9999-12-31,lin,1,json,observation_date,asc,945,0,100000,2023-10-06,2023-12-31,2023-09-01,3.8
943,2021-01-01,2023-12-31,1600-01-01,9999-12-31,lin,1,json,observation_date,asc,945,0,100000,2023-11-03,2023-12-31,2023-10-01,3.9
944,2021-01-01,2023-12-31,1600-01-01,9999-12-31,lin,1,json,observation_date,asc,945,0,100000,2023-12-08,2023-12-31,2023-11-01,3.7

In [13]:
guardar_csv(data_UNRATE,"../data/processed/fed_UNRATE_historical_data.csv")

Federal Funds Effective Rate (DFF)
Tasa de interes='DFF'
Api_key='78f1d1b71351546a936232d4d5469d80'

In [14]:
# URL 
url_fed = "https://api.stlouisfed.org/fred/series/observations?api_key&file_type&series_id"


# Parámetros de la solicitud
parametros_fed = {
    "api_key": "78f1d1b71351546a936232d4d5469d80",  
    "file_type": "json",
    "series_id": "DFF"
}

data = api_fed(url_fed,parametros_fed, "2021-01-01", "2023-12-31")

data_DFF= pd.DataFrame(data)

data_DFF.head(2)

https://api.stlouisfed.org/fred/series/observations?api_key&file_type&series_id

,realtime_start,realtime_end,observation_start,observation_end,units,output_type,file_type,order_by,sort_order,count,offset,limit,observations
0,2021-01-01,2023-12-31,1600-01-01,9999-12-31,lin,1,json,observation_date,asc,25383,0,100000,"{'realtime_start': '2021-01-01', 'realtime_end..."
1,2021-01-01,2023-12-31,1600-01-01,9999-12-31,lin,1,json,observation_date,asc,25383,0,100000,"{'realtime_start': '2021-01-01', 'realtime_end..."

In [15]:
# Ejecutar la función para obtener los datos procesados
data_DFF = obtener_observation_fed(data_DFF)

In [16]:
data_DFF.tail(5)

,realtime_start,realtime_end,observation_start,observation_end,units,output_type,file_type,order_by,sort_order,count,offset,limit,realtime_start,realtime_end,date,value
25378,2021-01-01,2023-12-31,1600-01-01,9999-12-31,lin,1,json,observation_date,asc,25383,0,100000,2023-12-26,2023-12-31,2023-12-24,5.33
25379,2021-01-01,2023-12-31,1600-01-01,9999-12-31,lin,1,json,observation_date,asc,25383,0,100000,2023-12-26,2023-12-31,2023-12-25,5.33
25380,2021-01-01,2023-12-31,1600-01-01,9999-12-31,lin,1,json,observation_date,asc,25383,0,100000,2023-12-27,2023-12-31,2023-12-26,5.33
25381,2021-01-01,2023-12-31,1600-01-01,9999-12-31,lin,1,json,observation_date,asc,25383,0,100000,2023-12-28,2023-12-31,2023-12-27,5.33
25382,2021-01-01,2023-12-31,1600-01-01,9999-12-31,lin,1,json,observation_date,asc,25383,0,100000,2023-12-29,2023-12-31,2023-12-28,5.33

In [17]:
guardar_csv(data_DFF,"../data/processed/fed_DFF_historical_data.csv")

Trade Balance: Goods and Services, Balance of Payments Basis (BOPGSTB)
Tasa de interes='BOPGSTB'
Api_key='58f82a464f9ab2bc239793f7ebb937f7'

In [ ]:
# URL 
url_fed = "https://api.stlouisfed.org/fred/series/observations?api_key&file_type&series_id"


# Parámetros de la solicitud
parametros_fed = {
    "api_key": "58f82a464f9ab2bc239793f7ebb937f7",  
    "file_type": "json",
    "series_id": "BOPGSTB"
}

data = api_fed(url_fed,parametros_fed, "2021-01-01", "2023-12-31")

data_BOPGSTB= pd.DataFrame(data)

data_BOPGSTB.head(2)

https://api.stlouisfed.org/fred/series/observations?api_key&file_type&series_id

,realtime_start,realtime_end,observation_start,observation_end,units,output_type,file_type,order_by,sort_order,count,offset,limit,observations
0,2021-01-01,2023-12-31,1600-01-01,9999-12-31,lin,1,json,observation_date,asc,769,0,100000,"{'realtime_start': '2021-01-01', 'realtime_end..."
1,2021-01-01,2023-12-31,1600-01-01,9999-12-31,lin,1,json,observation_date,asc,769,0,100000,"{'realtime_start': '2021-01-01', 'realtime_end..."

In [19]:
# Ejecutar la función para obtener los datos procesados
data_BOPGSTB = obtener_observation_fed(data_BOPGSTB)

In [ ]:
data_BOPGSTB.tail(5)

,realtime_start,realtime_end,observation_start,observation_end,units,output_type,file_type,order_by,sort_order,count,offset,limit,realtime_start,realtime_end,date,value
764,2021-01-01,2023-12-31,1600-01-01,9999-12-31,lin,1,json,observation_date,asc,769,0,100000,2023-11-07,2023-12-05,2023-08-01,-58657.0
765,2021-01-01,2023-12-31,1600-01-01,9999-12-31,lin,1,json,observation_date,asc,769,0,100000,2023-12-06,2023-12-31,2023-08-01,-58624.0
766,2021-01-01,2023-12-31,1600-01-01,9999-12-31,lin,1,json,observation_date,asc,769,0,100000,2023-11-07,2023-12-05,2023-09-01,-61542.0
767,2021-01-01,2023-12-31,1600-01-01,9999-12-31,lin,1,json,observation_date,asc,769,0,100000,2023-12-06,2023-12-31,2023-09-01,-61151.0
768,2021-01-01,2023-12-31,1600-01-01,9999-12-31,lin,1,json,observation_date,asc,769,0,100000,2023-12-06,2023-12-31,2023-10-01,-64255.0

In [21]:
guardar_csv(data_BOPGSTB,"../data/processed/fed_BOPGSTB_historical_data.csv")